@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Quicksand", serif;
    /* font-family: "Raleway", serif; */
}

/* shared styles */
.font-1{
font-size: 1.15rem;
font-weight: 700;

}

/* Header Styles */
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.logo{
    display: flex;
    align-items: center;
}

ul{
    display: flex;
    list-style: none;
    gap: 50px;
    align-items: center;
}
 li a{
    text-decoration: none;
 }

 .a1{
    color: rgb(254, 163, 1);
 }
 .a2{
    color: rgb(1, 172, 253);
 }

 .a3{
    color: rgb(5, 212, 223);
 }

 .a4{
    color: rgb(93, 88, 239);
 }


 .btn-primary{
    border-radius: 12px;
/* Orange */
background: rgb(254, 163, 1);
color: rgb(255,255,255);
font-size: 1rem;
font-weight: 600;
padding: 10px;
border: none;
 }

/* banner styles */
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-content{
    width: 50%;
}

.banner-title{
    font-size: 3rem;
    font-weight: 700;
}

.span-1{
    color: rgb(254, 163, 1);
}

.span-2{
    color: rgb(1, 172, 253);
}

.banner-discription{
    font-size: 1.1rem;
    color: rgb(17, 17, 17);
    font-weight: 400;
}

.btn-primary2{
    border-radius: 12px;
background: rgb(17, 17, 17);
color: rgb(255,255,255);
font-size: 1.1rem;
font-weight: 700;
padding: 10px;
border: none;
}




  /* card section */
  .card-container{
    display: flex;
    text-align: center;
   justify-content: space-around;
    align-items: center;
    gap: 25px;
  }

  .card1{
    box-sizing: border-box;
border: 0.94px solid rgb(222, 245, 255);
border-radius: 18.86px;
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
  }


  .card2{
    box-sizing: border-box;
border: 0.94px solid rgb(255, 244, 220);
border-radius: 18.86px;
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);

  }


  .card3{
    box-sizing: border-box;
border: 0.94px solid rgb(242, 232, 255);
border-radius: 18.86px;
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
  }

  .card{
    padding: 20px;
   max-width: 320px;
  }

  .card-title{
    color: rgb(32, 32, 32);
    font-size: 1.5rem;
    font-weight: 700;
  }
  .card-discription{
    color: rgb(128, 128, 128);
    font-size: 0.9rem;
    font-weight: 500;
    font-family: "Raleway", serif;
  }

  .card-section{
    background-image: url(../assets/bg.png);
    margin-top: 60px;
    text-align: center;
}
  .card-section h1{
    font-size: 2.5rem;
    font-weight: 700;
  }
  
  .same{
    font-size: 0.9rem;
    font-weight: 700;
    margin-top: 25px;
  }

  .read-1{
    color: rgb(100, 200, 255);
  }

  .read-2{
    color: rgb(240, 170, 0);
  }

  .read-3{
    color: rgb(135, 0, 255);
  }

 
  .hide{
    display: none;
  }

  /* arrw section */
  .arrow img{
         max-width: 35px;
        max-height: 35px;
         background: rgb(254, 163, 1);
         border-radius: 50%;
}

.arrow{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 8px;
   margin-top: 60px;
}

/* box style */
.story-section{
    margin-top: 60px;
  background: url(../assets/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
}


.box-container{
    display: grid;
    grid-template-columns: 540px 290px 290px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 50px;
     
  
}


.box{
   
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 10px;
    position: relative;
   
}
#box-1{
    grid-row: span 2;
   
}
.box img{
    width: 100%;
}

.box-title1{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;

}

.box-discription{
    font-size: 0.9rem;
    color: rgb(102, 102, 102);
    font-weight: 500;
    font-family: "Raleway", serif;
    margin-top: 40px;
    text-align: center;
}

.box-title{
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
}

.box-btn{
  color: rgb(238, 225, 255);
  font-size: 1rem;
  font-family: "Raleway", serif;
  font-weight: 500;
  padding: 10px;
  border-radius: 47.93px;
  border: none;
  position: relative;
  top: -23px;
  left: 20px;
 
}

.btn1{
  background: rgb(60, 216, 232);
}
.btn2 , .btn4 , .btn5{
  background: rgb(149, 178, 38);
}

.btn3{
  background: rgb(93, 88, 240);
}

.story-section h1{
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
}

.story-btn{
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
}

.btn-div{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

/* footer styles */
footer{
  background: rgb(1, 172, 253);
  padding: 20px;
}

.footer-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-ul{
  flex-direction: column;
}

.footer-left{
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 10px;
  
}



.footer-logo{
  display: flex;
  align-items: center;
  gap: 10px;

}

.footer-logo h2{
  color: white;
  font-size: 2.1rem;
  font-weight: 700;
}

.footer-logo img{
 
  max-width: 80px;
  max-height: 80px;
}

.footer-discription{
  color: white;
  font-size: 1.25rem;
  font-weight: 400;
}

/* center */

.footer-center h3{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}

.footer-center ul{
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 20px; 
  align-items: stretch;
  padding: 0;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: left;
  color: white;
  
}

.footer-li {
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: left;
}

.footer-right h3{
  font-size: 1.5rem;
  font-weight: 700;
  color: white;

}

.footer-links{
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

marquee{
  behavior: scroll;
  direction: left;
  color: #FF5733;
  font-weight: 800;
  font-size: 1.2rem;
}

@media screen and (max-width:576px) {

  .arrow img{
    display: none;
  }

  /* header */
  nav{
    display: none;
  }
  .container{
    justify-content: space-around;
    align-items: center;
    gap: 75px;
  }
  header{
   border-bottom:0.5px solid rgb(254, 163, 1);

  }

  /* banner-section */
  .banner-container{
    flex-direction: column-reverse;
    text-align: center;
  }
  .banner-img img{
    width: 100%;
  }

  .banner-title{
    font-size: 1.9rem;
    font-weight: 700;
    text-align: center;
  }

  .banner-title br{
    display: none;
  }
  .banner-content{
   width: 100%;
  }

  .banner-discription{
    font-size: 1rem;
    text-align: center;
  }
  /* Card */
  .card-container{
    flex-direction: column;
  }

  .card-section h1{
    font-size: 1.5rem;
  }
  /* story */
  #box-1{
    display: none;
  }

  .box-container{
    grid-template-columns: repeat(2,1fr);
    padding: 5px;
    gap: 10px;
  }

  .box{
    max-width: 173px;
    max-height: 179px;
    position: static;
    
    
  }

  .box img{
    width: 100%;
  } 

  .box-title{
    font-size: 0.57rem;
    margin-top: 0px;
  }

  .box-btn{
    font-size: 0.5rem;
    font-weight: 500;
  }

  .btn-primary2{
    font-size: 1rem;
    border-radius: 12px;
    padding: 10px;
    margin-top: 20px;
  }

  /* footer */
  .footer-container{
    flex-direction: column;
    justify-content: left;
    align-items: stretch;
    
  }

  .footer-logo h2{
    font-size: 2rem;
    font-weight: 700;
  }

  .footer-discription br{
    display: none;
  }

  .footer-discription{
    font-size: 1rem;
    font-weight: 400;
  }

  .footer-center h3{
    text-align: left;
    padding-left: 10px;
  }

  .footer-center ul{
    gap: 17px;
    font-size: 1rem;
    font-weight: 500;
    padding-left: 10px;
  }

  .footer-right h3{
    font-size: 1.2rem;
    font-size: 600;

  }

  .footer-links{
    justify-content: left;
    padding-left: 10px;
    
  }

  .footer-right h3{
    padding-left: 10px;
  }

  }

